<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/V3.css" />

    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.00.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="v3 v3-site layout">
      <!-- ======= section1 ======= --> 
      <section
        style="--src:url(/assets/ae8459d82ce47d472877f3acb09991a9.png)"
        class="v3-section1__hero-container layout"
      >
        <div class="v3-section1__hero-div layout">
          <div class="v3-section1__menu-row layout">
            <div class="v3-section1__menu-row-col">
              <px-posize x="0px 410.63px 1fr" y="1fr minmax(33px,33fr) 1fr"
                ><div
                  class="v3-section1__group"
                  style="--src:url(/assets/d0d42ae3156ab611657630c794b78309.png)"
                >
                  <div
                    style="--src:url(/assets/cd703bdcd83411a8790b570d6fe7081d.png)"
                    class="v3-section1__background layout"
                  ></div></div
              ></px-posize>
            </div>
            <div class="v3-section1__menu-row-spacer"></div>
            <div class="v3-section1__menu-row-col1">
              <px-posize
                x="1fr 498.5px 0px"
                y="8.5px minmax(0px, 17fr) 7.5fr"
                xs-x="1fr 498.5px 0px"
                xs-y="25px minmax(0px, 17fr) 25fr"
                ><div class="v3-section1__nav-menu">
                  <div class="v3-section1__nav-menu-col">
                    <px-posize x="1fr 36px 0px" y="0px minmax(17px,17fr) 1fr"
                      ><div class="v3-section1__group1">
                        <div class="v3-section1__buy-box layout">
                          <pre class="v3-section1__buy">Buy  </pre>
                        </div>
                      </div></px-posize
                    >
                  </div>
                  <div class="v3-section1__nav-menu-spacer"></div>
                  <div class="v3-section1__nav-menu-col1">
                    <div class="v3-section1__sell layout">sell</div>
                  </div>
                  <div class="v3-section1__nav-menu-spacer1"></div>
                  <div class="v3-section1__nav-menu-col2">
                    <div class="v3-section1__partner layout">partner</div>
                  </div>
                  <div class="v3-section1__nav-menu-spacer2"></div>
                  <div class="v3-section1__nav-menu-col3">
                    <div class="v3-section1__meet layout">meet the team</div>
                  </div>
                  <div class="v3-section1__nav-menu-spacer3"></div>
                  <div class="v3-section1__nav-menu-col4">
                    <div class="v3-section1__news layout">news</div>
                  </div>
                  <div class="v3-section1__nav-menu-spacer4"></div>
                  <div class="v3-section1__nav-menu-col5">
                    <div class="v3-section1__contact-us layout">contact us</div>
                  </div>
                  <div class="v3-section1__nav-menu-spacer5"></div>
                  <div class="v3-section1__nav-menu-col6">
                    <div
                      style="--src:url(/assets/f0c170bcd285a11d031f7c79602f55d7.png)"
                      class="v3-section1__login-icon layout"
                    ></div>
                  </div></div
              ></px-posize>
            </div>
          </div>
          <div class="v3-section1__hero-div-spacer"></div>
          <div class="v3-section1__hero-counter layout">
            <div class="v3-section1__hero-counter-col">
              <px-posize x="0px 296px 1fr" y="1fr 93px 1fr"
                ><div class="v3-section1__counter-column">
                  <div class="v3-section1__body-text layout">
                    <h1 class="v3-section1__hero-title layout">00.07.12.45</h1>
                    <h5 class="v3-section1__coming-in layout">coming in</h5>
                  </div>
                  <div class="v3-section1__counter-column-spacer"></div>
                  <div class="v3-section1__counter-column-spacer1"></div>
                  <div class="v3-section1__dhms layout">
                    <div class="v3-section1__dhms-col">
                      <div class="v3-section1__days layout">days</div>
                    </div>
                    <div class="v3-section1__dhms-col1">
                      <div class="v3-section1__hours layout">hours</div>
                    </div>
                    <div class="v3-section1__dhms-col2">
                      <div class="v3-section1__mins layout">mins</div>
                    </div>
                    <div class="v3-section1__dhms-col3">
                      <div class="v3-section1__sec layout">sec</div>
                    </div>
                  </div>
                </div></px-posize
              >
            </div>
            <div class="v3-section1__hero-counter-spacer"></div>
            <div class="v3-section1__hero-counter-col1">
              <px-posize
                x="1fr 20px 1fr"
                y="26fr minmax(0px, max-content) 48.65fr"
                area-style='{":before":{"content":"\" \"","display":"inline-block","height":"100%","verticalAlign":"middle"}}'
                ><img
                  alt="image description"
                  class="v3-section1__fav-icon"
                  src="/assets/6e3385a8dd34c6d19212513260b28318.png"
              /></px-posize>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End section1 ======= --> 

      <div class="v3-site-row">
        <px-posize
          x="202px 1036fr 202px"
          y="14fr minmax(0px, 395fr) 14fr"
          lg-x="101px 1036fr 101px"
          lg-y="25fr minmax(0px, 395fr) 25fr"
          md-x="51px 1036fr 51px"
          md-y="25fr minmax(0px, 395fr) 25fr"
          sm-x="26px 1036fr 26px"
          sm-y="25fr minmax(0px, 395fr) 25fr"
          xs-x="13px 1036fr 13px"
          xs-y="25fr minmax(0px, 395fr) 25fr"
          ><div class="v3-bootstrap-grid">
            <px-posize
              x="1fr 1036fr 1fr"
              y="7fr minmax(0px, 381fr) 7fr"
              lg-x="0fr 777fr 0fr"
              lg-y="7fr minmax(0px, 381fr) 7fr"
              md-x="0fr 583fr 0fr"
              md-y="25fr minmax(0px, 381fr) 25fr"
              sm-x="0fr 437fr 0fr"
              sm-y="25fr minmax(0px, 381fr) 25fr"
              xs-x="0fr 320fr 0fr"
              xs-y="25fr minmax(0px, 381fr) 25fr"
              ><div class="v3-flex">
                <div class="v3-flex-col">
                  <px-posize
                    x="1fr 346fr 1fr"
                    y="25fr minmax(0px, 331fr) 25fr"
                    xs-x="0fr 260fr 0fr"
                    xs-y="25fr minmax(0px, 331fr) 25fr"
                    ><div class="v3-flex1">
                      <px-posize x="0fr 338fr 8fr" y="1fr minmax(72px,72fr) 1fr"
                        ><h1 class="v3-big-title-box">
                          <pre
                            class="v3-big-title"
                          ><span class="v3-big-title-span0">2308 August Way
</span><span class="v3-big-title-span1">Raleigh, NC 27610</span></pre>
                        </h1></px-posize
                      ><px-posize
                        x="1fr 346fr 1fr"
                        y="28fr minmax(0px, 231fr) 0fr"
                        xs-x="0fr 260fr 0fr"
                        xs-y="28fr minmax(0px, 231fr) 0fr"
                        ><h4 class="v3-highlights-box">
                          <pre class="v3-highlights">
Looking for that sweet spot on the the shore, close to the water and surrounded by the nicest people around? This cutie has been completely redone with you in mind. From the front door to the back deck, this house says &quot;RELAX&quot; . As you enter the living room, you are greeted with calm, from the colors to the decor, you can feel yourself start to unwind. No matter if you are making this your full time home or vacation spot, this home has all the amenities needed. Redone from top to bottom and inside and out. </pre
                          >
                        </h4></px-posize
                      >
                    </div></px-posize
                  >
                </div>
                <div class="v3-flex-spacer"></div>
                <div class="v3-flex-col1">
                  <px-posize
                    x="1fr 541.5fr 1fr"
                    y="8fr minmax(0px, 365fr) 8fr"
                    sm-x="0.75fr 406fr 0.75fr"
                    sm-y="8fr minmax(0px, 365fr) 8fr"
                    xs-x="0.75fr 305fr 0.75fr"
                    xs-y="25fr minmax(0px, 365fr) 25fr"
                    ><div class="v3-flex2">
                      <div class="v3-flex3 layout">
                        <div class="v3-flex3-spacer"></div>
                        <div class="v3-flex3-col">
                          <div class="v3-flex4 layout">
                            <h1 class="v3-hero-title-box layout">
                              <pre class="v3-hero-title">3 </pre>
                            </h1>
                            <h5 class="v3-beds layout">BEDS</h5>
                          </div>
                        </div>
                        <div class="v3-flex3-spacer1"></div>
                        <div class="v3-flex3-col1">
                          <div class="v3-flex5 layout">
                            <h1 class="v3-hero-title1-box layout">
                              <pre class="v3-hero-title">3 </pre>
                            </h1>
                            <div class="v3-flex5-spacer"></div>
                            <div class="v3-flex5-col">
                              <h5 class="v3-baths layout">BATHS</h5>
                            </div>
                          </div>
                        </div>
                        <div class="v3-flex3-spacer2"></div>
                        <div class="v3-flex3-col2">
                          <div class="v3-flex6 layout">
                            <h1 class="v3-hero-title2-box layout">
                              <pre class="v3-hero-title">2,500 </pre>
                            </h1>
                            <div class="v3-flex6-spacer"></div>
                            <div class="v3-flex6-col">
                              <h5 class="v3-sqft layout">SQFT</h5>
                            </div>
                          </div>
                        </div>
                        <div class="v3-flex3-spacer3"></div>
                        <div class="v3-flex3-col3">
                          <div class="v3-flex7 layout">
                            <h1 class="v3-hero-title3 layout">2.2</h1>
                            <div class="v3-flex7-spacer"></div>
                            <div class="v3-flex7-col">
                              <h5 class="v3-acre-lot layout">ACRE LOT</h5>
                            </div>
                          </div>
                        </div>
                        <div class="v3-flex3-spacer4"></div>
                      </div>
                      <div class="v3-flex8 layout">
                        <div class="v3-flex8-col">
                          <div
                            style="--src:url(/assets/155d09a4248f294278429168f0aaf179.png)"
                            class="v3-line layout"
                          ></div>
                        </div>
                        <div class="v3-flex8-spacer"></div>
                        <div class="v3-flex8-col1">
                          <h5 class="v3-highlights1 layout">view More stats</h5>
                        </div>
                        <div class="v3-flex8-spacer1"></div>
                        <div class="v3-flex8-col">
                          <div
                            style="--src:url(/assets/155d09a4248f294278429168f0aaf179.png)"
                            class="v3-line1 layout"
                          ></div>
                        </div>
                      </div>
                      <px-posize
                        x="0px 541.5fr 0px"
                        y="1fr minmax(0px, max-content) 17fr"
                        xs-x="0px 541.5fr 0px"
                        xs-y="1fr minmax(0px, max-content) 25fr"
                        ><div class="v3-flex9">
                          <div class="v3-flex9-col">
                            <px-posize
                              name="PIC1"
                              x="1fr 175fr 1fr"
                              y="1fr minmax(0px, max-content) 1fr"
                              area-style='{":before":{"content":"\" \"","display":"inline-block","height":"100%","verticalAlign":"middle"}}'
                              ><img
                                id="PIC1"
                                alt="image description"
                                class="v3-img"
                                src="/assets/6930672759390536798b1b620b490666.png"
                            /></px-posize>
                          </div>
                          <div class="v3-flex9-spacer"></div>
                          <div class="v3-flex9-col1">
                            <px-posize
                              name="PIC2"
                              x="0px 175fr 0px"
                              y="1fr minmax(0px, max-content) 1fr"
                              area-style='{":before":{"content":"\" \"","display":"inline-block","height":"100%","verticalAlign":"middle"}}'
                              ><img
                                id="PIC2"
                                alt="image description"
                                class="v3-decorator"
                                src="/assets/600ea8b8d93ac90d2ec56d672785880d.png"
                            /></px-posize>
                          </div>
                          <div class="v3-flex9-spacer1"></div>
                          <div class="v3-flex9-col2">
                            <px-posize
                              name="PIC3"
                              x="0px 175fr 0px"
                              y="1fr minmax(0px, max-content) 1fr"
                              area-style='{":before":{"content":"\" \"","display":"inline-block","height":"100%","verticalAlign":"middle"}}'
                              ><img
                                id="PIC3"
                                alt="image description"
                                class="v3-img"
                                src="/assets/7f036c8948b23e2a7337bd33398dfeec.png"
                            /></px-posize>
                          </div></div
                      ></px-posize></div
                  ></px-posize>
                </div></div
            ></px-posize></div
        ></px-posize>
      </div>
      <!-- ======= section3 ======= --> <px-posize x="0px 1440fr 0px" y="0px minmax(0px, 157.5fr) 0px"
        ><section class="v3-section3__container container-fluid">
          <div
            class="justify-content-around row row-cols-xl-1 row-cols-lg-1 row-cols-md-1 row-cols-sm-1 row-cols-1"
          >
            <div
              class="v3-section3__bootstrapGrid-item col offset-xl-0 offset-lg-0 offset-md-0 offset-sm-0 offset-0"
            >
              <div class="v3-section3__flex layout">
                <div class="v3-section3__flex-spacer"></div>
                <div class="v3-section3__flex-col">
                  <px-posize
                    x="1fr minmax(0px, max-content) 1fr"
                    y="45.01fr minmax(0px, 77.59fr) 33.91fr"
                    xs-x="1fr minmax(0px, max-content) 1fr"
                    xs-y="45.01fr minmax(0px, 77.59fr) 33.91fr"
                    ><div class="v3-section3__flex1">
                      <div class="v3-section3__flex1-row">
                        <div class="v3-section3__group layout">
                          <px-posize
                            x="110.5fr 92fr 110.5fr"
                            y="1fr 20px 13.29fr"
                            ><h5 class="v3-section3__request-info">
                              request info
                            </h5></px-posize
                          >
                        </div>
                      </div>
                      <div class="v3-section3__flex1-spacer"></div>
                      <div class="v3-section3__flex1-row1">
                        <div class="v3-section3__group layout1">
                          <h5 class="v3-section3__schedule-tour layout">
                            schedule tour
                          </h5>
                        </div>
                      </div>
                    </div></px-posize
                  >
                </div>
                <div class="v3-section3__flex-spacer1"></div>
                <div class="v3-section3__flex-col1">
                  <px-posize x="0px 542fr 0px" y="0px minmax(0px, 156.5fr) 1fr"
                    ><div class="v3-section3__flex2">
                      <div class="v3-section3__flex2-row">
                        <px-posize
                          x="1fr 542fr 1fr"
                          y="0px minmax(36px,36fr) 1fr"
                          sm-x="0fr 407fr 0fr"
                          sm-y="0px minmax(36px,36fr) 0fr"
                          xs-x="0fr 305fr 0fr"
                          xs-y="0px minmax(36px,36fr) 0fr"
                          ><div class="v3-section3__flex3">
                            <div class="v3-section3__flex3-spacer"></div>
                            <hr class="v3-section3__line layout" />
                            <div class="v3-section3__flex3-spacer1"></div>
                            <div class="v3-section3__flex3-col">
                              <h1 class="v3-section3__features layout">
                                Features
                              </h1>
                            </div>
                            <div class="v3-section3__flex3-spacer2"></div>
                            <hr class="v3-section3__line layout1" />
                            <div class="v3-section3__flex3-spacer"></div></div
                        ></px-posize>
                      </div>
                      <div class="v3-section3__flex2-spacer"></div>
                      <div class="v3-section3__flex2-row1">
                        <px-posize
                          x="23px 504fr 15px"
                          y="7.25fr minmax(0px, max-content) 4.5fr"
                          xs-x="12px 504fr 10px"
                          xs-y="25fr minmax(0px, max-content) 25fr"
                          ><div class="v3-section3__flex4">
                            <div class="v3-section3__flex4-spacer"></div>
                            <div class="v3-section3__flex4-col">
                              <div class="v3-section3__heated-floors layout">
                                heated floors
                              </div>
                            </div>
                            <div class="v3-section3__flex4-col">
                              <div class="v3-section3__gated-community layout">
                                Gated Community
                              </div>
                            </div>
                            <div class="v3-section3__flex4-col">
                              <div class="v3-section3__small-text-body layout">
                                Open Floor Plan
                              </div>
                            </div>
                            <div class="v3-section3__flex4-col">
                              <div class="v3-section3__community-pool layout">
                                community pool
                              </div>
                            </div>
                            <div class="v3-section3__flex4-spacer"></div></div
                        ></px-posize>
                      </div>
                      <div class="v3-section3__flex2-spacer1"></div>
                      <div class="v3-section3__flex2-row2">
                        <px-posize
                          x="17px 508fr 17px"
                          y="8.5fr minmax(0px, max-content) 1fr"
                          xs-x="10px 508fr 10px"
                          xs-y="25fr minmax(0px, max-content) 1fr"
                          ><div class="v3-section3__flex5">
                            <div class="v3-section3__flex5-spacer"></div>
                            <div class="v3-section3__flex5-col">
                              <div class="v3-section3__mountain-views layout">
                                Mountain Views
                              </div>
                            </div>
                            <div class="v3-section3__flex5-col">
                              <div class="v3-section3__celebrity-access layout">
                                celebrity access
                              </div>
                            </div>
                            <div class="v3-section3__flex5-col">
                              <div class="v3-section3__small-text-body layout">
                                24/7 coffee
                              </div>
                            </div>
                            <div class="v3-section3__flex5-col">
                              <div class="v3-section3__free-wifi layout">
                                free wifi
                              </div>
                            </div>
                            <div class="v3-section3__flex5-spacer1"></div></div
                        ></px-posize>
                      </div>
                      <div class="v3-section3__flex2-spacer2"></div>
                      <div class="v3-section3__flex2-row3">
                        <px-posize
                          x="22px 504fr 16px"
                          y="6fr minmax(0px, max-content) 5fr"
                          xs-x="11px 504fr 10px"
                          xs-y="25fr minmax(0px, max-content) 25fr"
                          ><div class="v3-section3__flex6">
                            <div class="v3-section3__flex6-spacer"></div>
                            <div class="v3-section3__flex6-col">
                              <div class="v3-section3__heated-floors layout">
                                heated floors
                              </div>
                            </div>
                            <div class="v3-section3__flex6-col">
                              <div class="v3-section3__gated-community layout">
                                Gated Community
                              </div>
                            </div>
                            <div class="v3-section3__flex6-col">
                              <div class="v3-section3__small-text-body layout">
                                Open Floor Plan
                              </div>
                            </div>
                            <div class="v3-section3__flex6-col">
                              <div class="v3-section3__community-pool layout">
                                community pool
                              </div>
                            </div>
                            <div class="v3-section3__flex6-spacer"></div></div
                        ></px-posize>
                      </div></div
                  ></px-posize>
                </div>
                <div class="v3-section3__flex-spacer2"></div>
              </div>
            </div>
          </div></section></px-posize
      ><!-- ======= End section3 ======= --> 
<!-- ======= section4 ======= --> <px-posize x="0px 1440fr 0px" y="1fr minmax(0px, max-content) 1fr"
        ><section class="v3-section4__container container-fluid">
          <div class="justify-content-center row">
            <div class="v3-section4__bootstrapGrid-item col">
              <div class="v3-section4__flex layout">
                <div class="v3-section4__flex-spacer"></div>
                <div class="v3-section4__flex-col">
                  <div class="v3-section4__flex1 layout">
                    <div class="v3-section4__flex1-col">
                      <div
                        style="--src:url(/assets/942d7add90e8c42eaa728b9394e0107f.png)"
                        class="v3-section4__img layout"
                      ></div>
                    </div>
                    <div class="v3-section4__flex1-col1">
                      <div class="v3-section4__flex2 layout">
                        <h5 class="v3-section4__highlights layout">
                          Mr. Agent Dave
                        </h5>
                        <div
                          class="v3-section4__small-paragraph-body-box layout"
                        >
                          <pre class="v3-section4__small-paragraph-body">
something realty 
(443) 261-2538
 RE/MAX Executive - Maryland
 Lic# 595914</pre
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="v3-section4__flex-spacer1"></div>
                <div class="v3-section4__flex-col">
                  <div class="v3-section4__flex3 layout">
                    <div class="v3-section4__flex3-col">
                      <div
                        style="--src:url(/assets/942d7add90e8c42eaa728b9394e0107f.png)"
                        class="v3-section4__img layout"
                      ></div>
                    </div>
                    <div class="v3-section4__flex3-col1">
                      <div class="v3-section4__flex4 layout">
                        <h5 class="v3-section4__highlights layout">
                          Mr. Agent Dave
                        </h5>
                        <div
                          class="v3-section4__small-paragraph-body1-box layout"
                        >
                          <pre class="v3-section4__small-paragraph-body">
something realty 
(443) 261-2538
 RE/MAX Executive - Maryland
 Lic# 595914</pre
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="v3-section4__flex-spacer"></div>
              </div>
            </div>
          </div></section></px-posize
      ><!-- ======= End section4 ======= --> 
<!-- ======= section5 ======= --> <px-posize x="0px 1440fr 0px" y="1fr minmax(395px,395fr) 1fr"
        ><section class="v3-section5__map-container">
          <div
            style="--src:url(/assets/b7d7fa84bcbe518b86f267ad49298e5c.png)"
            class="v3-section5__image layout"
          ></div></section></px-posize
      ><!-- ======= End section5 ======= --> 
<!-- ======= section6 ======= --> <px-posize x="0px 1440fr 0px" y="1fr minmax(0px, 358fr) 1fr"
        ><section class="v3-section6__form-container">
          <div class="v3-section6__flex layout1">
            <h1 class="v3-section6__big-title layout">Have a question?</h1>
            <div class="v3-section6__flex layout">
              <div class="v3-section6__flex2 layout">
                <div class="v3-section6__flex2-col">
                  <div class="v3-section6__first-name-wrap layout">
                    <div class="v3-section6__rect layout"></div>
                    <h5 class="v3-section6__first-name layout">First Name</h5>
                  </div>
                </div>
                <div class="v3-section6__flex2-col">
                  <div class="v3-section6__last-name-wrap layout">
                    <div class="v3-section6__rect layout"></div>
                    <h5 class="v3-section6__last-name layout">Last Name</h5>
                  </div>
                </div>
              </div>
              <div class="v3-section6__email-address-wrap layout">
                <div class="v3-section6__rect layout"></div>
                <h5 class="v3-section6__email-address layout">Email address</h5>
              </div>
              <div class="v3-section6__phone-wrap layout">
                <div class="v3-section6__rect layout"></div>
                <h5 class="v3-section6__phone layout">Phone</h5>
              </div>
              <div class="v3-section6__flex1-spacer"></div>
              <div class="v3-section6__flex1-row">
                <div class="v3-section6__group layout">
                  <px-posize
                    x="24.5fr 55fr 24.5fr"
                    y="0px minmax(0px, 20fr) 10fr"
                    ><h5 class="v3-section6__submit">submit</h5></px-posize
                  >
                </div>
              </div>
            </div>
          </div>
        </section></px-posize
      ><!-- ======= End section6 ======= --> 
<!-- ======= section7 ======= --> <px-posize
        x="0px 1440fr 0px"
        y="1fr minmax(339px,339fr) 1fr"
        track-style='{"overflow":"auto"}'
        area-style='{"overflow":"hidden"}'
        ><section class="v3-section7__suggest-container container-fluid">
          <div
            class="justify-content-center row row-cols-xl-1 row-cols-lg-1 row-cols-md-1"
          >
            <div
              class="v3-section7__bootstrapGrid-item col-auto order-xl-first offset-xl-0 offset-lg-0 offset-md-0 offset-0"
            >
              <px-posize
                x="0fr 711fr 371.65fr"
                y="89px minmax(176px,176fr) 74px"
                md-x="0fr 711fr 371.65fr"
                md-y="45px minmax(176px,176fr) 37px"
                sm-x="0fr 711fr 371.65fr"
                sm-y="25px minmax(176px,176fr) 25px"
                ><div class="v3-section7__flex">
                  <div class="v3-section7__flex-col">
                    <px-posize x="0px 17px 1fr" y="63fr 27px 86fr"
                      ><div
                        class="v3-section7__image"
                        style="--src:url(/assets/001972a2de67c8805451b5a3428b61e9.png)"
                      ></div
                    ></px-posize>
                  </div>
                  <div class="v3-section7__flex-spacer"></div>
                  <div class="v3-section7__flex-col1">
                    <px-posize
                      x="1fr 543px 1fr"
                      y="1fr minmax(0px, max-content) 1fr"
                      sm-x="1fr 407px 1fr"
                      sm-y="1fr minmax(0px, max-content) 1fr"
                      xs-x="1fr 305px 1fr"
                      xs-y="1fr minmax(0px, max-content) 1fr"
                      ><div class="v3-section7__flex1">
                        <div class="v3-section7__flex1-col">
                          <px-posize
                            x="1fr 175px 1fr"
                            y="1fr minmax(0px, max-content) 1fr"
                            area-style='{":before":{"content":"\" \"","display":"inline-block","height":"100%","verticalAlign":"middle"}}'
                            ><img
                              alt="image description"
                              class="v3-section7__img"
                              src="/assets/6a5d7608cf24c038e538b243e3c22cd9.png"
                          /></px-posize>
                        </div>
                        <div class="v3-section7__flex1-spacer"></div>
                        <div class="v3-section7__flex1-col1">
                          <px-posize
                            x="1fr 175px 1fr"
                            y="1fr minmax(0px, max-content) 1fr"
                            area-style='{":before":{"content":"\" \"","display":"inline-block","height":"100%","verticalAlign":"middle"}}'
                            ><img
                              alt="image description"
                              class="v3-section7__img"
                              src="/assets/d0bdafdbc6f0ad42ba871e1bac7efd41.png"
                          /></px-posize>
                        </div>
                        <div class="v3-section7__flex1-spacer1"></div>
                        <div class="v3-section7__flex1-col2">
                          <px-posize
                            x="1fr 175px 1fr"
                            y="1fr minmax(0px, max-content) 1fr"
                            area-style='{":before":{"content":"\" \"","display":"inline-block","height":"100%","verticalAlign":"middle"}}'
                            ><img
                              alt="image description"
                              class="v3-section7__img"
                              src="/assets/275bedc05ae2853c43936c445409d001.png"
                          /></px-posize>
                        </div></div
                    ></px-posize>
                  </div>
                  <div class="v3-section7__flex-spacer"></div>
                  <div class="v3-section7__flex-col">
                    <px-posize x="1fr 17px 0px" y="63fr 27px 86fr"
                      ><div
                        class="v3-section7__image"
                        style="--src:url(/assets/04675cf98d803b89f6535dda08931bcf.png)"
                      ></div
                    ></px-posize>
                  </div></div
              ></px-posize>
            </div>
          </div></section></px-posize
      ><!-- ======= End section7 ======= --> 
<!-- ======= section8 ======= --> 
      <section class="v3-section8__footer layout">
        <div class="v3-section8__group layout">
          <h5 class="v3-section8__footer1 layout">FOOTER</h5>
        </div>
      </section>
      <!-- ======= End section8 ======= --> 

    </div>
  </body>
</html>
